<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>Here is our Capitol starter site</p>
        <p>
            {{#link-to 'about' class="btn btn-primary btn-lg"}}Learn more &raquo;{{/link-to}}
            <button class="btn btn-lg" {{action 'add'}}>Add</button>
        </p>
    </div>
</div>
<div class="container">
    {{#each list as |note|}}
    <div class="col-xs-12 col-sm-6 col-md-3">
        {{#liquid-bind note class="note-card" as |note|}}
            {{#note-card as |section|}}
                {{#if section.isHeader}}{{note.name}}{{/if}}
                {{#if section.isBody}}
                    <div style="min-height: 100px;" class="note-message">{{liquid-bind note.message}}</div>
                    <a target="_blank" href="{{note.uri}}">Click me!</a>
                {{/if}}
                {{#if section.isFooter}}
                    <button class="btn btn-small" {{action 'save' note}}>Save</button>
                {{/if}}
            {{/note-card}}
        {{/liquid-bind}}
    </div>
    {{/each}}
</div>