<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>Here is our Capitol starter site</p>
        <p>
            <button class="btn btn-primary btn-lg">Learn more &raquo;</button>
            <button class="btn btn-lg" {{action 'add'}}>Add</button>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        {{#each note in list}}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">{{note.name}}</div>
                <div class="panel-body">
                    <div style="height: 100px">{{note.message}}</div>
                    <div><a target="_blank" href="{{note.uri}}">Click me!</a></div>
                    <div><button class="btn btn-small" {{action 'save' note}}>Save</button></div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>